<!-- Modal -->
<div class="modal fade" id="inicialModal" tabindex="-1" aria-labelledby="inicialModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-success text-white">
        <h5 class="modal-title"><i class="bi bi-layers"></i> Bienvenido!</h5>
        <button type="button" class="btn-close" (click)="onClose()" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <div style="display: flex; flex-direction: column; align-items: anchor-center;" *ngIf="currentStep === 1">
          <h2>¡Bienvenido al Admin Articles App! </h2>
          <p class="text-muted">En este panel podrás gestionar y visualizar:</p>

          <ul >
            <li class="text-muted"><b>Indicadores clave:</b> El comportamiento diario, mensual y anual de tu administración.</li>
            <li class="text-muted"><b>Gestión integral:</b> Administración de subcripciones, Planes, Posts.</li>
            <li class="text-muted"><b>Guías Inteligentes:</b> En Cada sección hay un icono (?) para informarte que puedes hacer y cómo.</li>

          </ul>

          <p class="text-muted">Explora más funciones en el menú lateral izquierdo.</p>
          <small class="text-muted"><b>Nota:</b> Trabajamos en actualizaciones periódicas para ofrecerte nuevas herramientas
            constantemente. <br>
          Cuando exista una actualización de la aplicación se mostrará un aviso en esta sección</small>
        </div>
        <div *ngIf="currentStep === 2">
          <h2>Instalalo en tu Dispositivo! </h2>

          <p class="text-muted">Si puedes ver el icono de Instalación al final de la barra de dirección:</p>

          <div class="row">
            <div class="col-xs-12">
              <ol class="text-muted">
                <li>Pulsa sobre el icono y podras instalarlo en tu dispositivo (Computador y / o Tabla):</li>
                <li>Pulsa el Boton Install</li>
                <li>Automaticamente estará disponible en tu barra de inicio / programas:</li>
              </ol>

            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <img src="./assets/images/install.png" style="width: 80%; display: block; margin:auto" alt="">

              </div>
              <div class="col-xs-12 col-sm-6">
                <img src="./assets/images/instalado.png" style="width: 60%; display: block; margin:auto" alt="">

              </div>
            </div>
          </div>
        </div>

        <div class="form-group text-center m-t-20">
          <div class="col-xs-12">
            <div *ngIf="currentStep === 1" class="text-center">
              <button class="btn btn-info btn-md text-uppercase waves-effect waves-light m-r-10" type="button"
                (click)="nextStep()">
                Siguiente
              </button>
            </div>
            <div *ngIf="currentStep === 2" class="text-center">
              <button class="btn btn-secondary btn-md m-r-10" type="button" (click)="prevStep()">
                Volver
              </button>
            </div>
          </div>
        </div>


      </div>
      <div class="modal-footer botonesmodal">
        <button type="button" class="btn btn-outline-success" (click)="onClose()"
          data-bs-dismiss="modal">Continuar</button>
        <button type="button" class="btn btn-outline-danger" (click)="onNoShowMore()">No quiero ver más este
          mensaje</button>
      </div>
    </div>
  </div>
</div>