<div class="modal fade" id="editCategory" tabindex="-1" aria-labelledby="categoryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="categoryModalLabel">{{title}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="onClose()"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <form enctype="multipart/form-data" [formGroup]="categoryForm">
                            <div class="form-group" style="margin-bottom: 25px;">
                                <label for="exampleInputuname">Nombre<span class="required">*</span></label>
                                <div class="input-group">

                                    <input type="text" formControlName="nombre" class="form-control"
                                        id="exampleInputuname" placeholder="Nombre" required>
                                        <div *ngIf="categoryForm.get('nombre')?.touched && categoryForm.get('nombre')?.invalid"
                                            class="text-danger">
                                            <div *ngIf="categoryForm.get('nombre')?.errors?.['required']">
                                                Campo Requerido
                                            </div>
                                            <div *ngIf="categoryForm.get('nombre')?.errors?.['minlength']">
                                                Coloque un Email Valido
                                            </div>
                                        </div>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-6">
                                    <button (click)="updateCategory()" class="btn btn-outline-success">
                                        {{ categorySeleccionado ? 'Actualizar ' : 'Crear' }}
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                    (click)="onClose()">Cerrar</button>
            </div>
        </div>
    </div>
</div>