<!-- =======| Main |======= -->

<div class="modal fade" id="editAd" tabindex="-1" aria-labelledby="adModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="adModalLabel">{{title}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="onClose()"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">

                        <!-- Step Indicator -->
                        <div class="step-indicator m-t-20 m-b-20">
                            <div class="step" [ngClass]="{'active': currentStep >= 1, 'completed': currentStep > 1}">
                                <span class="step-number">1</span>
                                <span class="step-label">Datos</span>
                            </div>
                            <div class="step-line"></div>
                            <div class="step" [ngClass]="{'active': currentStep >= 2}">
                                <span class="step-number">2</span>
                                <span class="step-label">Imagen</span>
                            </div>
                        </div>
                        <!-- editar/crear post -->
                        <div *ngIf="currentStep === 1">
                            <form enctype="multipart/form-data" [formGroup]="sideadviceForm">

                                <div class="row">
                                    <div class="form-group col-xs-12 col-sm-4">
                                        <label for="exampleInputEmail1">Título<span class="required">*</span></label>
                                        <input formControlName="titulo" type="text" class="form-control" required>
                                        <div *ngIf="sideadviceForm.get('titulo')?.touched && sideadviceForm.get('titulo')?.invalid"
                                            class="text-danger">
                                            <div *ngIf="sideadviceForm.get('titulo')?.errors?.['required']">
                                                Campo Requerido
                                            </div>
                                            <div *ngIf="sideadviceForm.get('titulo')?.errors?.['minlength']">
                                                Coloque un Título
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group col-xs-12 col-sm-4">
                                        <label for="select-input">Cómo abre?<span class="required">*</span></label>
                                        <select class="form-control " formControlName="target">
                                            <option disabled value="">SELECCIONAR</option>
                                            <option value="_blank">Ventana Nueva</option>
                                            <option value="_self">Misma Ventana</option>
                                        </select>
                                        <div *ngIf="sideadviceForm.get('target')?.touched && sideadviceForm.get('target')?.invalid"
                                            class="text-danger">
                                            <div *ngIf="sideadviceForm.get('target')?.errors?.['required']">
                                                Campo Requerido
                                            </div>
                                            <div *ngIf="sideadviceForm.get('target')?.errors?.['minlength']">
                                                Seleccione una Opción
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-xs-12 col-sm-4">
                                        <label for="exampleInputEmail1">Url<span class="required">*</span></label>
                                        <input formControlName="url" type="text" class="form-control" required>
                                        <div *ngIf="sideadviceForm.get('url')?.touched && sideadviceForm.get('url')?.invalid"
                                            class="text-danger">
                                            <div *ngIf="sideadviceForm.get('url')?.errors?.['required']">
                                                Campo Requerido
                                            </div>
                                            <div *ngIf="sideadviceForm.get('url')?.errors?.['minlength']">
                                                Coloque una Url
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <button class="btn btn-success waves-effect waves-light m-r-10 btn-block"
                                            type="button" (click)="nextStep()">Siguiente</button>
                                    </div>
                                    <div class="col-6">
                                        <button (click)="editCurso()" class="btn btn-outline-success">
                                            {{ adSeleccionado ? 'Actualizar y Continuar' : 'Crear y Continuar' }}
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div *ngIf="currentStep === 2">
                            <app-loading *ngIf="isLoadingImage"></app-loading>
                            <div *ngIf="!isLoadingImage">
                                <label> Anexe su foto</label>
                                <br>
                                <div class="row">
                                    <div class="especificaciones col-xs-12" *ngIf="!adSeleccionado">
                                        <h4>Debe Crear un post para agregar la imagen</h4>
                                    </div>
                                    <div class="especificaciones col-xs-12 col-sm-6" *ngIf="adSeleccionado">
                                        <h4>Especificaciones:</h4>
                                        <ul>
                                            <li>Tamaño máximo: 300px X 300px</li>
                                            <li>Peso máximo: 2 mb</li>
                                            <li>Formato permitido: jpg, .gif, .png</li>
                                        </ul>
                                    </div>
                                    <div class="col-xs-12 col-sm-6" *ngIf="adSeleccionado ">
                                        <div class="text-center">
                                            <img *ngIf="!imgTemp "
                                                [src]="adSeleccionado.img | imagenPipe: 'sideadvertisings'"
                                                class="img-responsive img-thumbnail" alt="">
                                            <!-- <img *ngIf="post.img" [src]="post.img | imagenPipe: 'blogs'" class="img-responsive img-thumbnail" alt=""> -->
                                            <img *ngIf="imgTemp" [src]="imgTemp" class="img-responsive">
                                            <div class="form-group ">

                                            </div>
                                        </div>
                                        <input type="file" (change)="cambiarImagen($event.target.files[0])">
                                        <br>
                                        <br>


                                        <div class="row">
                                            <div class="col-6">
                                                <button
                                                    class="btn btn-success waves-effect waves-light m-r-10 btn-block"
                                                    type="button" (click)="prevStep()">Anterior</button>
                                            </div>
                                            <div class="col-6">
                                                <button type="button" [disabled]="!imagenSubir" (click)="subirImagen()"
                                                    class="btn btn-success waves-effect waves-light m-r-10 btn-block">
                                                    <i class="fa fa-save"></i> Subir imagen
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                    (click)="onClose()">Cerrar</button>
            </div>
        </div>
    </div>
</div>