<div class="col-12">
    <table class="table table-borderless table-responsive">
        <thead>
            <tr>
                <th scope="col">orderID</th>
                <th scope="col">Usuario </th>
                <th scope="col">Monto</th>
                <th scope="col">Status</th>
                <th scope="col">Fecha</th>

            </tr>
        </thead>
        <tbody *ngFor="let subcripcion of subcriptionPaypals| slice: 0:5">
            <tr>
                <td>
                    {{subcripcion.orderID | slice: 0:8}}...
                </td>
                <td>
                    {{subcripcion.usuario.uid | slice: 0:8}}...
                </td>
                <td>{{subcripcion.monto|currency}}</td>
                <td>
                    <span class="badge bg-success" *ngIf="subcripcion.status === 'ACTIVE'">Activo</span>
                    <span class="badge bg-danger" *ngIf="subcripcion.status === 'INACTIVE'">Inactivo</span>
                </td>
                <td>{{subcripcion.createdAt | date:'MMM d, y, h:mm:ss a'}}</td>
            </tr>


        </tbody>
    </table>
    <div class="col-xs-12 col-sm-3">
        <button class="btn btn-primary" routerLink="./paypal-plans">
            Ver todos
        </button>
    </div>
</div>